ul.menu
  li.menu-item.js-menu-item
    a.menu-item-link(href="#about") Про проєкт
  li.menu-item.js-menu-item
    a.menu-item-link(href="#benefits") Переваги
  li.menu-item.js-menu-item
    a.menu-item-link(href="#numbers") ЖК у цифрах
  li.menu-item.js-menu-item
    a.menu-item-link(href="#layout") Планування
  li.menu-item.js-menu-item
    a.menu-item-link(href="#location") Локація
  li.menu-item.js-menu-item
    a.menu-item-link(href="#gallery") Галерея
  li.menu-item.js-menu-item
    a.menu-item-link(href="#developer") Девелопер
  li.menu-item.js-menu-item
    a.menu-item-link(href="#news") Новини
  li.menu-item.js-menu-item
    a.menu-item-link(href="#documents") Документи
  li.menu-item.js-menu-item
    a.menu-item-link(href="#contacts") Контакти