.menu {
  &-item {
    &:not(:last-child) {
      margin-bottom: 16px;
      @include from(768px) {
        margin-bottom: 20px;
      }
      @include from(1280px) {
        margin-bottom: 14px;
      }
      @include from(1400px) {
        margin-bottom: 20px;
      }
    }
  }
  &-item-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--white);

    @include from(768px) {
      font-size: 32px;
    }
    @include from(1280px) {
      font-size: 30px;
    }
    @include from(1400px) {
      font-size: 32px;
    }
    @include from(1920px) {
      font-size: 48px;
    }

    &:hover {
      color: var(--blue);
    }
  }
}

.menu-modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.footer .menu {
  &-item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  &-item-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    text-transform: uppercase;
    color: var(--white);

    @include from(768px) {
      font-size: 20px;
    }
    @include from(1920px) {
      font-size: 24px;
    }

    &:hover {
      color: var(--blue);
    }
  }
}
