section.benefits#benefits
  .benefits__swiper-block 
    .swiper_benefits
      .swiper-wrapper 
        .swiper-slide.swiper-slide-benefits
          img(src="./assets/images/benefits/1.jpg", alt="")
        .swiper-slide.swiper-slide-benefits
          img(src="./assets/images/benefits/2.jpg", alt="")
        .swiper-slide.swiper-slide-benefits
          img(src="./assets/images/benefits/3.jpg", alt="")
        .swiper-slide.swiper-slide-benefits
          img(src="./assets/images/benefits/9.jpg", alt="")
        .swiper-slide.swiper-slide-benefits
          img(src="./assets/images/benefits/10.jpg", alt="")
        .swiper-slide.swiper-slide-benefits
          img(src="./assets/images/benefits/11.jpg", alt="")
        .swiper-slide.swiper-slide-benefits
          img(src="./assets/images/benefits/12.jpg", alt="")
        .swiper-slide.swiper-slide-benefits
          img(src="./assets/images/benefits/13.jpg", alt="")
        .swiper-slide.swiper-slide-benefits
          img(src="./assets/images/benefits/14.jpg", alt="")

      .benefits__slider-fraction
        .swiper_nuber_benefits.swiper_nuber
          .swiper-wrapper
        //-     //- .benefits__slider-current.swiper-slide 1
        //-     //- .benefits__slider-current.swiper-slide 2
        //-     //- .benefits__slider-current.swiper-slide 3
        .benefits__slider-sepparator /
        .benefits__slider-total
        .swiper-pagination.visually-hidden

      .benefits__wrapper-btn-swiper.btn-swiper-wrapper
        .benefits__btn-swiper-left.btn-swiper-left
          include ../components/btn-swiper.pug
        .benefits__btn-swiper-right.btn-swiper-right
          include ../components/btn-swiper.pug   
      
      .benefits__text-block
        .swiper_benefits_text
          .swiper-wrapper 
            .swiper-slide
              .text-in-slide Пішохідний торговий пасаж та громадський простір
            .swiper-slide
              .text-in-slide Дворівневі сітіхаузи для життя та бізнесу з власним подвір'ям або терасою
            .swiper-slide
              .text-in-slide Преміальний фітнес-центр з критим басейном та СПА зоною
            .swiper-slide
              .text-in-slide Власний дитячий садок повного дня
            .swiper-slide
              .text-in-slide Багатофункціональні зелені двори
            .swiper-slide
              .text-in-slide Спортивні зони на відкритому повітрі, мультифункціональне поле для ігрових видів спорту
            .swiper-slide
              .text-in-slide Вело та бігові доріжки
            .swiper-slide
              .text-in-slide Спеціальні доріжки для транспорту малої мобільності
            .swiper-slide
              .text-in-slide Власний підземний дворівневий паркінг


      .benefits__title-block
        h1.benefits__page-title benefits
        h2.benefits__page-second-title 
          span Переваги
          span комплексу
