.gallery-wrap.gallery-overlay
    .gallery-slider__btn-close
    .swiper-container.swiper-gallery
        .swiper-wrapper.swiper-gallery__wrp
            .swiper-slide
                img(src="assets/images/gallery1.png", alt="").swiper-lazy
                .swiper-lazy-preloader.swiper-lazy-preloader-white
            .swiper-slide
                img(src="assets/images/gallery2.png", alt="").swiper-lazy
                .swiper-lazy-preloader.swiper-lazy-preloader-white
            .swiper-slide
                img(src="assets/images/gallery3.png", alt="").swiper-lazy
                .swiper-lazy-preloader.swiper-lazy-preloader-white
 
    .gallery-slider__ctr-wrap 
        .construction-item__title
            span.construction-item__title-day 25
            .construction-item__title-inner 
                span.construction-item__title-month липень
                span.construction-item__title-year 2022
        .gallery-slider__title Грудень
        .gallery-slider__ctr
            .gallery-slider__arrows
                button.gallery-slider__arrow.gallery-slider-prev
                    span.icon-font
                        +svg('slider-left-w').icon.icon-arrow-left
                button.gallery-slider__arrow.gallery-slider-next
                    span.icon-font
                    +svg('slider-right-w').icon.icon-arrow-right
