section.construction#construction
    .main-deco  
        img(src="./assets/images/feather.png", alt="")
    .construction__title-block
        h1.construction__page-title  construction
        h2.construction__second-title Хід будівництва
    .construction-main.container 
        .construction-progress 
            .construction-progress__update 
                .construction-progress__update-select 
                    span.construction-progress__update-title Статус робіт:
                    .construction-progress__update-options 
                        .construction-progress__years-list 
                            .construction-progress__years-item 
                                span 2022
                        .construction-progress__months-list
                            .construction-progress__months-item 
                                span 2 черга (4 квартал 2024)
                p.construction-progress__update-descr Виконується монтаж ліфтів. Триває влаштування систем опалення, вентиляції, водопроводу, каналізації та електрики. Проходять фасадні роботи на торцях. Виконується влаштування утеплення на балконах.
            .construction-progress__figures 
                .construction-progress__figures-cam.camera-btn 
                    a(href="#").camera-btn-link 
                        +svg('camera')
                        span веб камери 
                .construction-progress__figures-list
                    .construction-progress__figures-item
                        .construction-progress__figures-item-svg
                            span.construction-progress__figures-item-percent 50%
                            +svg('circle')
                        span.construction-progress__figures-item-text Будівництво
                    .construction-progress__figures-item
                        .construction-progress__figures-item-svg
                            span.construction-progress__figures-item-percent 74%
                            +svg('circle')
                        span.construction-progress__figures-item-text Благоустрій
                    .construction-progress__figures-item
                        .construction-progress__figures-item-svg
                            span.construction-progress__figures-item-percent 50%
                            +svg('circle')
                        span.construction-progress__figures-item-text Фасад
                    .construction-progress__figures-item
                        .construction-progress__figures-item-svg
                            span.construction-progress__figures-item-percent 30%
                            +svg('circle')
                        span.construction-progress__figures-item-text Мережі
        .construction-list
            .construction-item
                .construction-item-intro
                    .construction-item__title
                        span.construction-item__title-day 25
                        .construction-item__title-inner 
                            span.construction-item__title-month липень
                            span.construction-item__title-year 2022
                    .construction-item__descr   
                        p Виконується монтаж ліфтів. Триває влаштування систем опалення, вентиляції, водопроводу, каналізації та електрики. Проходять фасадні роботи на торцях. Виконується влаштування утеплення на балконах. 
                    .construction-item__details 
                        span.construction-item__details-photo 14 фото 
                        span.construction-item__details-videos 2 відео
                .construction-item__details-img 
                    img(src="./assets/images/construction/construction2.jpg", alt="")
            .construction-item
                .construction-item-intro
                    .construction-item__title
                        span.construction-item__title-day 25
                        .construction-item__title-inner 
                            span.construction-item__title-month липень
                            span.construction-item__title-year 2022
                    .construction-item__descr   
                        p Виконується монтаж ліфтів. Триває влаштування систем опалення, вентиляції, водопроводу, каналізації та електрики. Проходять фасадні роботи на торцях. Виконується влаштування утеплення на балконах. 
                    .construction-item__details 
                        span.construction-item__details-photo 14 фото 
                        span.construction-item__details-videos 2 відео
                .construction-item__details-img 
                    img(src="./assets/images/construction/construction3.jpg", alt="")
            .construction-item
                .construction-item-intro
                    .construction-item__title
                        span.construction-item__title-day 25
                        .construction-item__title-inner 
                            span.construction-item__title-month липень
                            span.construction-item__title-year 2022
                    .construction-item__descr   
                        p Виконується монтаж ліфтів. Триває влаштування систем опалення, вентиляції, водопроводу, каналізації та електрики. Проходять фасадні роботи на торцях. Виконується влаштування утеплення на балконах. 
                    .construction-item__details 
                        span.construction-item__details-photo 14 фото 
                        span.construction-item__details-videos 2 відео
                .construction-item__details-img 
                    img(src="./assets/images/construction/construction4.jpg", alt="")


