.gallery-wrap.gallery-overlay
  .gallery-overlay-inner
    .swiper-container.swiper-gallery
      .swiper-wrapper.swiper-gallery__wrp
        .swiper-slide
          .construction-item.construction-month__card
            .construction-item-intro
              .construction-item__title
                span.construction-item__title-day 25
                .construction-item__title-inner 
                  span.construction-item__title-month липень
                  span.construction-item__title-year 2022
              .construction-item__descr   
                p Виконується монтаж ліфтів. Триває влаштування систем опалення, вентиляції, водопроводу, каналізації та електрики. Проходять фасадні роботи на торцях. Виконується влаштування утеплення на балконах. 
              .construction-item__details 
                span.construction-item__details-photo 14 фото 
                span.construction-item__details-videos 2 відео
            .construction-item__details-img
              img(src="./assets/images/construction/construction2.jpg", alt="")        
      .gallery-slider__ctr-wrap
        .gallery-slider__ctr
          .gallery-slider__pagination
          .gallery-slider__arrows
            button.gallery-slider__arrow.gallery-slider-prev
              span.icon-font
                +svg('slider-left-w').icon.icon-arrow-left
            button.gallery-slider__arrow.gallery-slider-next
              span.icon-font
                +svg('slider-right-w').icon.icon-arrow-right


