section.developer#developer
  .developer__title-blok 
    h1.about__text-block-hero-title developer
    h2.about__text-block-title Девелопер
  .developer__content-wrapper 
    .developer__img 
      img(src="./assets/images/developer/city-one.svg", alt="")

    .developer__text-block 
      p.developer__text-block-text-one 
        | Компанія City One Development, яка має багаторічний досвід у створені 
        | комплексних багатофункціональних проєктів нерухомості, серед яких – квартал 
        | бізнес-класу Новопечерські Липки, житловий комплекс преміум-класу Бульвар Фонтанів City 
        | Resort, комплекс комфорт-класу Cвятобор Park Resort. 
      p.developer__text-block-text-two
        | Всі проекти компанії, незалежно від локації, розробляються з урахуванням 
        | потреб сучасної людини, зберігають баланс забудови та природного оточення, 
        | мають високий індекс інвестиційної привабливості.   
      a.developer__button(href="https://city1development.com.ua" target="_blank") сайт забудовника