section.developer#developer
  .developer__title-blok 
    h1.about__text-block-hero-title developer
    h2.about__text-block-title Девелопери проекту
  .developer__content-wrapper 
    .developer__content-item 
      .developer__content-logo
        img(src="./assets/images/developer/city-one.svg", alt="logo")
      .developer__content-text
        p Компанія City One Development, яка має багаторічний досвід у створені комплексних багатофункціональних проєктів нерухомості, серед яких – квартал бізнес-класу Новопечерські Липки, житловий комплекс преміум-класу Бульвар Фонтанів City Resort, комплекс комфорт-класу Cвятобор Park Resort. 
        p Всі проекти компанії, незалежно від локації, розробляються з урахуванням потреб сучасної людини, зберігають баланс забудови та природного оточення, мають високий індекс інвестиційної привабливості.
        a(class="developer__button" href="https://city1development.com.ua/" target="_blank") сайт забудовника
    .developer__content-item
      .developer__content-logo
        img(src="./assets/images/developer/bud.svg", alt="logo")
      .developer__content-text
        p BudCapital — надійний девелопер, який з 2008 року займається будівництвом сучасних житлових комплексів в місті Київ та передмісті столиці — Козині. За цей час будівельна компанія стала учасником близько двох десятків проектів ЖК. Серед яких — готові ЖК бізнес-класу Manhattan City, «Новопечерська Вежа», преміальні клубні будинки на Печерську Nobility та Hidden та ЖК на стадії будівництва — Star City, Luxberry lakes & forest, «Вежа на Ломоносова» та інші.
        p BudCapital створює житлові простори для сучасного життя — комфортні, стильні, з продуманою інфраструктурою та інвестиційним потенціалом.
        a(class="developer__button"  href="https://budcapital.ua/" target="_blank") сайт забудовника

    //- .developer__img 
    //-   img(src="./assets/images/developer/city-one.svg", alt="")

    //- .developer__text-block 
    //-   p.developer__text-block-text-one 
    //-     | Компанія City One Development, яка має багаторічний досвід у створені 
    //-     | комплексних багатофункціональних проєктів нерухомості, серед яких – квартал 
    //-     | бізнес-класу Новопечерські Липки, житловий комплекс преміум-класу Бульвар Фонтанів City 
    //-     | Resort, комплекс комфорт-класу Cвятобор Park Resort. 
    //-   p.developer__text-block-text-two
    //-     | Всі проекти компанії, незалежно від локації, розробляються з урахуванням 
    //-     | потреб сучасної людини, зберігають баланс забудови та природного оточення, 
    //-     | мають високий індекс інвестиційної привабливості.   
    //-   a.developer__button(href="https://city1development.com.ua" target="_blank") сайт забудовника