section.development-process#development-process
    .main-deco  
        img(src="./assets/images/feather.png", alt="")
    .development-process__title-block
        h1.development-process__page-title  webcams
        h2.development-process__second-title Веб камери
    .development-process-main
        .development-process-list  
            .development-process-item 
                .development-process-item__title Будинок №5
                .development-process-item__video
                    <iframe src="https://www.youtube.com/embed/wrFfW8Yulsc" title="Construction Site Practical Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .development-process-item 
                .development-process-item__title Будинок №5
                .development-process-item__video
                    <iframe src="https://www.youtube.com/embed/wrFfW8Yulsc" title="Construction Site Practical Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .development-process-item 
                .development-process-item__title Будинок №5
                .development-process-item__video
                    <iframe src="https://www.youtube.com/embed/wrFfW8Yulsc" title="Construction Site Practical Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    