section.documents.contacts#documents
  .page-container
    .documents__title-block
      .documents__title-block-title.contacts__page-title documents
      .documents__title-block-second-title.contacts__second-title Документи
    .documents__info-block
      .documents__info-block-date.news__content-item-date 19 серпня 2022
      .documents__info-block-text.news__content-item-text Дозвіл на виконання будівельних робіт від 08 червня 2022 
      a(href="./static/permit-for-construction-IU-013220601879.PDF" target="_blank" download)
        .documents__info-block-button.btn-swiper
          <svg viewBox="0 0 16 20" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1440_744)">
            <path d="M8.38879 1.69971L8.38879 14.6997M8.38879 14.6997L1.00019 8.19971M8.38879 14.6997L15 8.19971" stroke-width="2"/>
            <rect x="1" y="17.6997"/>
            </g>
          </svg>

    //- .documents__info-block
      .documents__info-block-date.news__content-item-date 19 серпня 2022
      .documents__info-block-text.news__content-item-text Проект договору часткової участі в будуванні паркомісця
      a(href="" target="_blank" download)
        .documents__info-block-button.btn-swiper
          <svg viewBox="0 0 16 20" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1440_744)">
            <path d="M8.38879 1.69971L8.38879 14.6997M8.38879 14.6997L1.00019 8.19971M8.38879 14.6997L15 8.19971" stroke-width="2"/>
            <rect x="1" y="17.6997"/>
            </g>
          </svg> 