section.gallery#gallery
  .gallery__wrapper-content
    .gallery__title-block 
      h1.about__text-block-hero-title gallery
      h2.about__text-block-title Галерея
    .gallery__swiper-wrapper
      .gallery__swiper-elipse-top
      .gallery__swiper-elipse-bottom
      .swiper_gallery
        .swiper-wrapper 
          .swiper-slide.gallery__swiper-slide
            img.js-open-big-gallery(src="./assets/images/gallery/1.jpg", alt="")
          .swiper-slide.gallery__swiper-slide
            img.js-open-big-gallery(src="./assets/images/gallery/3.jpg", alt="")
          .swiper-slide.gallery__swiper-slide
            img.js-open-big-gallery(src="./assets/images/gallery/2.jpg", alt="")
          .swiper-slide.gallery__swiper-slide
            img.js-open-big-gallery(src="./assets/images/gallery/4.jpg", alt="")
          .swiper-slide.gallery__swiper-slide
            img.js-open-big-gallery(src="./assets/images/gallery/5.jpg", alt="")
          .swiper-slide.gallery__swiper-slide
            img.js-open-big-gallery(src="./assets/images/gallery/6.jpg", alt="")
          .swiper-slide.gallery__swiper-slide
            img.js-open-big-gallery(src="./assets/images/gallery/7.jpg", alt="")
          .swiper-slide.gallery__swiper-slide
            img.js-open-big-gallery(src="./assets/images/gallery/8.jpg", alt="")
          .swiper-slide.gallery__swiper-slide
            img.js-open-big-gallery(src="./assets/images/gallery/9.jpg", alt="")

    .gallery__wrappper-buttom
      .about__wrapper-btn-swiper.btn-swiper-wrapper
        .about__btn-swiper-left.btn-swiper-left
          include ../components/btn-swiper.pug
        .about__btn-swiper-right.btn-swiper-right
          include ../components/btn-swiper.pug