section.hero
  .page-container
    .hero__title 
      span THE 
      span LIGHT
    .hero__btn-scroll
      <svg class="hero__svg-circle" width="180" height="180" viewBox="0 0 180 180" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="90" cy="90" r="89.5" stroke="url(#paint0_linear_385_695)"/>
      <defs>
      <linearGradient id="paint0_linear_385_695" x1="180" y1="-9.24276e-06" x2="-25.6723" y2="143.251" gradientUnits="userSpaceOnUse">
      <stop/>
      <stop offset="1" />
      </linearGradient>
      </defs>
      </svg> 


      <svg class="hero__svg-arow" width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M5.5 0V18M5.5 18L10 13.6709M5.5 18L1 13.6709" stroke="url(#paint0_linear_443_1688)"/>
      <defs>
      <linearGradient id="paint0_linear_443_1688" x1="10" y1="-9.24276e-07" x2="-3.62048" y2="4.74335" gradientUnits="userSpaceOnUse">
      <stop/>
      <stop offset="1" />
      </linearGradient>
      </defs>
      </svg>
    .hero__text-block
      .hero__text-block-btn-container
        button.hero__text-block-btn 
          span.hero__text-block-btn-text ДИВИТИСЯ ВІДЕО    
          span.hero__text-block-btn-circle 
            <svg fill="#ffffff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="96px" height="96px" viewBox="0 0 124.512 124.512" xml:space="preserve" stroke="#ffffff">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier"> 
                <g> 
                  <path d="M113.956,57.006l-97.4-56.2c-4-2.3-9,0.6-9,5.2v112.5c0,4.6,5,7.5,9,5.2l97.4-56.2 C117.956,65.105,117.956,59.306,113.956,57.006z"></path> 
                </g> 
              </g>
            </svg>
      span.hero__text багатофункціональний проєкт класу бізнес-плюс
      .hero__text-address-wrapper 
        a.hero__text-address-link(href="https://goo.gl/maps/KfEzFxGb6hMbkHDHA" target="_blank")
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 7.61305 3.94821 5.32387 5.63604 3.63604C7.32387 1.94821 9.61305 1 12 1C14.3869 1 16.6761 1.94821 18.364 3.63604C20.0518 5.32387 21 7.61305 21 10Z" stroke="url(#paint0_linear_443_1682)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z" stroke="url(#paint1_linear_443_1682)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <defs>
          <linearGradient id="paint0_linear_443_1682" x1="21" y1="0.999999" x2="-2.05702" y2="14.1394" gradientUnits="userSpaceOnUse">
          <stop stop-color="#A2BDCA"/>
          <stop offset="1" stop-color="#BCD6DF"/>
          </linearGradient>
          <linearGradient id="paint1_linear_443_1682" x1="15" y1="7" x2="8.14426" y2="11.775" gradientUnits="userSpaceOnUse">
          <stop stop-color="#A2BDCA"/>
          <stop offset="1" stop-color="#BCD6DF"/>
          </linearGradient>
          </defs>
          </svg>
          span.hero__text-address м. Київ, вул. Саперне Поле, 3,
  .img-container
    picture
      source(srcset='./assets/images/hero/1.jpg' media='(min-width: 1280px)')
      source(srcset='./assets/images/hero/1-tab.jpg' media='(min-width: 768px)')
      img(src="./assets/images/hero/1-mob.jpg", alt="")