section.location#location
  .location__img
  .location__text-block
    h1.about__text-block-hero-title location
    h2.about__text-block-title Локація
    .about__text-block-line 
    .about__text-block-text
      | Затишно розташований у  центрі столиці, всього в 5 хвилинах пішки від станції метро 
      | «Либідська» та поруч з головними транспортними артеріями міста. 
      | Вигідне розташування забезпечує комфортне життя поряд з усіма зручностями.
  .location__map
    .location__map-wrap 
      #map
    .location__map-text-block
      a.hero__text-address-link(href="https://goo.gl/maps/wunZJSKNjUuCfY3MA" target="_blank")
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 7.61305 3.94821 5.32387 5.63604 3.63604C7.32387 1.94821 9.61305 1 12 1C14.3869 1 16.6761 1.94821 18.364 3.63604C20.0518 5.32387 21 7.61305 21 10Z" stroke="url(#paint0_linear_443_1682)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z" stroke="url(#paint1_linear_443_1682)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <defs>
        <linearGradient id="paint0_linear_443_1682" x1="21" y1="0.999999" x2="-2.05702" y2="14.1394" gradientUnits="userSpaceOnUse">
        <stop stop-color="#A2BDCA"/>
        <stop offset="1" stop-color="#BCD6DF"/>
        </linearGradient>
        <linearGradient id="paint1_linear_443_1682" x1="15" y1="7" x2="8.14426" y2="11.775" gradientUnits="userSpaceOnUse">
        <stop stop-color="#A2BDCA"/>
        <stop offset="1" stop-color="#BCD6DF"/>
        </linearGradient>
        </defs>
        </svg>
        span.hero__text-address Київ, вул. Джона Маккейна, 5