-
  const data =[
    {
      id: "1",
      date: "19 серпня 2022",
      title: "Розпочато запис на бронювання квартир.",
      img: "./assets/images/gallery/4.jpg",
      dataArray: [
        {
          text: "Вже зовсім скоро інвестиційно-девелоперська компанія City One Development розпочне активне будівництво і продажі в першому на ринку столиці жк класу Бізнес + - The Light. Наші менеджери готові надати більше інформації про майбутній ЖК та записати потенційних покупців до листа бронювання квартир.  За детальною інформацією звертайтеся до відділу продажу за телефоном 044 500 00 01.",
          img: "./assets/images/gallery/4.jpg",
        },
            ]
    },
    {
      id: "2",
      date: "19 серпня 2022",
      title: "Комплекс The Light отримав дозвіл на будівництво.",
      img: "./assets/images/news/IMG_20220726_140542_615.jpg",
      dataArray: [
        {
          text: "Компанія-забудовник житлового комплексу класу бізнес + The Light отримала дозвіл на виконання будівельних робіт в м. Київ, вул. Маккейна Джона, 5.  Цей документ дозволяє приступати до будівництва та розпочинати продаж квартир і нежитлових приміщень. Наразі на земельній ділянці відбуваються підготовчі роботи. Девелопером проекту виступає столична інвестиційно-девелоперська компанія City One Development, в портфелі якої успішні столичні комплекси ЖК «Новопечерські Липки», ЖК «Бульвар Фонтанів», дитяча академія щастя Leap Kids.",
          img: "./assets/images/news/IMG_20220726_140542_615.jpg",
        },
             ],
    },
    {
      id: "2",
      date: "19 серпня 2022",
      title: "Комплекс The Light отримав дозвіл на будівництво.",
      img: "./assets/images/news/IMG_20220726_140542_615.jpg",
      dataArray: [
        {
          text: "Компанія-забудовник житлового комплексу класу бізнес + The Light отримала дозвіл на виконання будівельних робіт в м. Київ, вул. Маккейна Джона, 5.  Цей документ дозволяє приступати до будівництва та розпочинати продаж квартир і нежитлових приміщень. Наразі на земельній ділянці відбуваються підготовчі роботи. Девелопером проекту виступає столична інвестиційно-девелоперська компанія City One Development, в портфелі якої успішні столичні комплекси ЖК «Новопечерські Липки», ЖК «Бульвар Фонтанів», дитяча академія щастя Leap Kids.",
          img: "./assets/images/news/IMG_20220726_140542_615.jpg",
        },
             ],
    },
    {
      id: "2",
      date: "19 серпня 2022",
      title: "Комплекс The Light отримав дозвіл на будівництво.",
      img: "./assets/images/news/IMG_20220726_140542_615.jpg",
      dataArray: [
        {
          text: "Компанія-забудовник житлового комплексу класу бізнес + The Light отримала дозвіл на виконання будівельних робіт в м. Київ, вул. Маккейна Джона, 5.  Цей документ дозволяє приступати до будівництва та розпочинати продаж квартир і нежитлових приміщень. Наразі на земельній ділянці відбуваються підготовчі роботи. Девелопером проекту виступає столична інвестиційно-девелоперська компанія City One Development, в портфелі якої успішні столичні комплекси ЖК «Новопечерські Липки», ЖК «Бульвар Фонтанів», дитяча академія щастя Leap Kids.",
          img: "./assets/images/news/IMG_20220726_140542_615.jpg",
        },
             ],
    },
         ]


section#news.news
  .news__title-block 
    .news__title-block-btn-left
      include ../components/btn-swiper.pug
    h1.news__title-block-title news
    h2.news__title-block-second-title Новини
    .news__title-block-btn-right
      include ../components/btn-swiper.pug
  .news__content-wrapper 
    .news__content-list.swiper
      .swiper-wrapper
        each item in data 
          .swiper-slide
            +newsBlock(item)


      //- li.news__content-item(data-id="1")
      //-   .news__content-item-wrapper
      //-     .news__content-header
      //-       button.news__content-item-btn
      //-         <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      //-           <path d="M0 6H12M6 12V0" stroke="#A2BDCA"/>
      //-         </svg>
      //-       .news__content-item-date 19 серпня 2022
      //-     p.news__content-item-text Старт продажів Житлового комплексу преміу мкласу the Light
      //-   .news__content-item-img-wrapper
      //-     img.news__content-item-img(src="./assets/images/gallery/3.jpg", alt="")
      //- li.news__content-item(data-id="2")
      //-   .news__content-item-wrapper
      //-     .news__content-header
      //-       button.news__content-item-btn
      //-         <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      //-           <path d="M0 6H12M6 12V0" stroke="#A2BDCA"/>
      //-         </svg>
      //-       .news__content-item-date 19 серпня 2022
      //-     p.news__content-item-text Літні знижки. Встигніть придбати власну квартиру за соковитою ціною!
      //-   .news__content-item-img-wrapper
      //-     img.news__content-item-img(src="./assets/images/gallery/8.jpg", alt="")
      //- li.news__content-item(data-id="3")
      //-   .news__content-item-wrapper
      //-     .news__content-header
      //-       button.news__content-item-btn
      //-         <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      //-           <path d="M0 6H12M6 12V0" stroke="#A2BDCA"/>
      //-         </svg>
      //-       .news__content-item-date 19 серпня 2022
      //-     p.news__content-item-text Графік роботи відділу продажів до дня Незалежності України
      //-   .news__content-item-img-wrapper
      //-     img.news__content-item-img(src="./assets/images/gallery/6.jpg", alt="")
