section.numbers#numbers
  .numbers__page-wrapper 
    ul.numbers__list
      li.numbers__item
        .numbers__item-blue-text 8
        .numbers__item-white-text Будинків
        .numbers__img
      li.numbers__item.numbers__item-title-block
        .numbers__item-blue-title-text  numbers
        .numbers__item-white-title-text Жк у цифрах
      li.numbers__item
        .numbers__item-blue-text 33
        .numbers__item-white-text Сітіхаусів
        .numbers__img
      li.numbers__item
        .numbers__item-blue-text 799
        .numbers__item-white-text Квартир
        .numbers__img
      li.numbers__item
        .numbers__item-blue-text 8-31
        .numbers__item-white-text Поверховість
        .numbers__img
      li.numbers__item
        .numbers__item-blue-text 1076
        .numbers__item-white-text Машиномісць у підземному паркінгу
        .numbers__img
      li.numbers__item
        .numbers__item-blue-text > 1 км
        .numbers__item-white-text Вело та бігові доріжки
        .numbers__img
      li.numbers__item
        .numbers__item-blue-text 2000 м<sup>2</sup>
        .numbers__item-white-text Дитячий садок
        .numbers__img
      li.numbers__item
        .numbers__item-blue-text 1,5 га
        .numbers__item-white-text Зелених зон
        .numbers__img
      li.numbers__item
        .numbers__item-blue-text 25 211 м<sup>2</sup>
        .numbers__item-white-text Комерційних площ
        .numbers__img
      li.numbers__item
        .numbers__item-blue-text 4200 м<sup>2</sup>
        .numbers__item-white-text Преміальний фітнес-центр з критим басейном та СПА зоною 
        .numbers__img