section.our_projects
  .our_projects__swiper-block 
    .swiper_our_projects
      .swiper-wrapper 
        .swiper-slide.swiper-slide-our_projects
          img(src="./assets/images/our_projects/1.jpg", alt="")
        .swiper-slide.swiper-slide-our_projects
          img(src="./assets/images/our_projects/2.jpg", alt="")
        .swiper-slide.swiper-slide-our_projects
          img(src="./assets/images/our_projects/3.jpg", alt="")
        .swiper-slide.swiper-slide-our_projects
          img(src="./assets/images/our_projects/9.jpg", alt="")
        .swiper-slide.swiper-slide-our_projects
          img(src="./assets/images/our_projects/10.jpg", alt="")
        .swiper-slide.swiper-slide-our_projects
          img(src="./assets/images/our_projects/12.jpg", alt="")


      .our_projects__slider-fraction
        .swiper_nuber_our_projects.swiper_nuber
          .swiper-wrapper
        //-     //- .our_projects__slider-current.swiper-slide 1
        //-     //- .our_projects__slider-current.swiper-slide 2
        //-     //- .our_projects__slider-current.swiper-slide 3
        .our_projects__slider-sepparator /
        .our_projects__slider-total
        .swiper-pagination.visually-hidden

      .our_projects__wrapper-btn-swiper.btn-swiper-wrapper
        .our_projects__btn-swiper-left.btn-swiper-left
          include ../components/btn-swiper.pug
        .our_projects__btn-swiper-right.btn-swiper-right
          include ../components/btn-swiper.pug   
      
      .our_projects__text-block
        .swiper_our_projects_text
          .swiper-wrapper 
            .swiper-slide
              .text-in-slide Житловий комплекс  преміумкласу
              .address-block
                .address-block__metro 
                  <svg viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.6519 10.1729L15.3954 9.69377L15.0589 10.1206L13.5144 12.0796L11.9681 10.1204L11.6315 9.6939L11.3752 10.173L8.70091 15.173L8.42091 15.6965H9.01459H10.8383H11.0498L11.1508 15.5106L11.9231 14.089L13.249 15.5774L13.5146 15.8756L13.7802 15.5774L15.1061 14.089L15.8783 15.5106L15.9793 15.6965H16.1909H18.0146H18.6085L18.3282 15.1729L15.6519 10.1729Z" stroke="#A2BDCA" stroke-width="0.711458"/>
                  <rect x="1.16406" y="0.355729" width="25.2885" height="25.2885" rx="12.6443" stroke="#3E595C" stroke-width="0.711458"/>
                  </svg>
                  | Палац Україна
                .address-block__time
                  <svg viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25 21H28V17.85C28.0007 17.612 27.9165 17.3816 27.7625 17.2002C27.6085 17.0187 27.3949 16.8981 27.16 16.86L22 16L19.3 12.4C19.2069 12.2759 19.0861 12.175 18.9472 12.1056C18.8084 12.0362 18.6552 12 18.5 12H11.24C10.8673 11.9975 10.5012 12.0991 10.1832 12.2934C9.86513 12.4878 9.60772 12.7672 9.44 13.1L8.64 14.73C8.22015 15.5646 8.00099 16.4858 8 17.42V21H10M20 21H15H20Z" stroke="#A2BDCA" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.5 24C13.8807 24 15 22.8807 15 21.5C15 20.1193 13.8807 19 12.5 19C11.1193 19 10 20.1193 10 21.5C10 22.8807 11.1193 24 12.5 24Z" stroke="#A2BDCA" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M22.5 24C23.8807 24 25 22.8807 25 21.5C25 20.1193 23.8807 19 22.5 19C21.1193 19 20 20.1193 20 21.5C20 22.8807 21.1193 24 22.5 24Z" stroke="#A2BDCA" stroke-linecap="round" stroke-linejoin="round"/>
                    <rect x="0.5" y="0.5" width="35" height="35" rx="17.5" stroke="#3E595C"/>
                  </svg>
                  | 5 хв
              a.project-website-button(href="https://bfontanov.com/ru/" target="_blank") сайт проєкту
            .swiper-slide
              .text-in-slide Житловий квартал бізнес-класу
              .address-block
                .address-block__metro
                  <svg viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.6519 10.1729L15.3954 9.69377L15.0589 10.1206L13.5144 12.0796L11.9681 10.1204L11.6315 9.6939L11.3752 10.173L8.70091 15.173L8.42091 15.6965H9.01459H10.8383H11.0498L11.1508 15.5106L11.9231 14.089L13.249 15.5774L13.5146 15.8756L13.7802 15.5774L15.1061 14.089L15.8783 15.5106L15.9793 15.6965H16.1909H18.0146H18.6085L18.3282 15.1729L15.6519 10.1729Z" stroke="#A2BDCA" stroke-width="0.711458"/>
                    <rect x="1.16406" y="0.355729" width="25.2885" height="25.2885" rx="12.6443" stroke="#3E595C" stroke-width="0.711458"/>
                  </svg>
                  | Дружби народів
                .address-block__time
                  <svg viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25 21H28V17.85C28.0007 17.612 27.9165 17.3816 27.7625 17.2002C27.6085 17.0187 27.3949 16.8981 27.16 16.86L22 16L19.3 12.4C19.2069 12.2759 19.0861 12.175 18.9472 12.1056C18.8084 12.0362 18.6552 12 18.5 12H11.24C10.8673 11.9975 10.5012 12.0991 10.1832 12.2934C9.86513 12.4878 9.60772 12.7672 9.44 13.1L8.64 14.73C8.22015 15.5646 8.00099 16.4858 8 17.42V21H10M20 21H15H20Z" stroke="#A2BDCA" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.5 24C13.8807 24 15 22.8807 15 21.5C15 20.1193 13.8807 19 12.5 19C11.1193 19 10 20.1193 10 21.5C10 22.8807 11.1193 24 12.5 24Z" stroke="#A2BDCA" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M22.5 24C23.8807 24 25 22.8807 25 21.5C25 20.1193 23.8807 19 22.5 19C21.1193 19 20 20.1193 20 21.5C20 22.8807 21.1193 24 22.5 24Z" stroke="#A2BDCA" stroke-linecap="round" stroke-linejoin="round"/>
                    <rect x="0.5" y="0.5" width="35" height="35" rx="17.5" stroke="#3E595C"/>
                  </svg>
                  | 5 хв
              a.project-website-button(href="https://novolipki.com/" target="_blank") сайт проєкту
            .swiper-slide
              .text-in-slide Житловий комплекс комфорт-класу
              .address-block
                .address-block__metro
                  <svg viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.6519 10.1729L15.3954 9.69377L15.0589 10.1206L13.5144 12.0796L11.9681 10.1204L11.6315 9.6939L11.3752 10.173L8.70091 15.173L8.42091 15.6965H9.01459H10.8383H11.0498L11.1508 15.5106L11.9231 14.089L13.249 15.5774L13.5146 15.8756L13.7802 15.5774L15.1061 14.089L15.8783 15.5106L15.9793 15.6965H16.1909H18.0146H18.6085L18.3282 15.1729L15.6519 10.1729Z" stroke="#A2BDCA" stroke-width="0.711458"/>
                    <rect x="1.16406" y="0.355729" width="25.2885" height="25.2885" rx="12.6443" stroke="#3E595C" stroke-width="0.711458"/>
                  </svg>
                  | Житомирська
                .address-block__time
                  <svg viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25 21H28V17.85C28.0007 17.612 27.9165 17.3816 27.7625 17.2002C27.6085 17.0187 27.3949 16.8981 27.16 16.86L22 16L19.3 12.4C19.2069 12.2759 19.0861 12.175 18.9472 12.1056C18.8084 12.0362 18.6552 12 18.5 12H11.24C10.8673 11.9975 10.5012 12.0991 10.1832 12.2934C9.86513 12.4878 9.60772 12.7672 9.44 13.1L8.64 14.73C8.22015 15.5646 8.00099 16.4858 8 17.42V21H10M20 21H15H20Z" stroke="#A2BDCA" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.5 24C13.8807 24 15 22.8807 15 21.5C15 20.1193 13.8807 19 12.5 19C11.1193 19 10 20.1193 10 21.5C10 22.8807 11.1193 24 12.5 24Z" stroke="#A2BDCA" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M22.5 24C23.8807 24 25 22.8807 25 21.5C25 20.1193 23.8807 19 22.5 19C21.1193 19 20 20.1193 20 21.5C20 22.8807 21.1193 24 22.5 24Z" stroke="#A2BDCA" stroke-linecap="round" stroke-linejoin="round"/>
                    <rect x="0.5" y="0.5" width="35" height="35" rx="17.5" stroke="#3E595C"/>
                  </svg>
                  | 5 хв
              a.project-website-button(href="https://svyatobor.kiev.ua/?utm_source=google&utm_medium=business&utm_campaign=main" target="_blank") сайт проєкту
            .swiper-slide
              .text-in-slide Спортивно-оздоровчий комплекс
              .address-block
                .address-block__metro
                  <svg viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.6519 10.1729L15.3954 9.69377L15.0589 10.1206L13.5144 12.0796L11.9681 10.1204L11.6315 9.6939L11.3752 10.173L8.70091 15.173L8.42091 15.6965H9.01459H10.8383H11.0498L11.1508 15.5106L11.9231 14.089L13.249 15.5774L13.5146 15.8756L13.7802 15.5774L15.1061 14.089L15.8783 15.5106L15.9793 15.6965H16.1909H18.0146H18.6085L18.3282 15.1729L15.6519 10.1729Z" stroke="#A2BDCA" stroke-width="0.711458"/>
                    <rect x="1.16406" y="0.355729" width="25.2885" height="25.2885" rx="12.6443" stroke="#3E595C" stroke-width="0.711458"/>
                  </svg>
                  | Дружби народів
                .address-block__time
                  <svg viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25 21H28V17.85C28.0007 17.612 27.9165 17.3816 27.7625 17.2002C27.6085 17.0187 27.3949 16.8981 27.16 16.86L22 16L19.3 12.4C19.2069 12.2759 19.0861 12.175 18.9472 12.1056C18.8084 12.0362 18.6552 12 18.5 12H11.24C10.8673 11.9975 10.5012 12.0991 10.1832 12.2934C9.86513 12.4878 9.60772 12.7672 9.44 13.1L8.64 14.73C8.22015 15.5646 8.00099 16.4858 8 17.42V21H10M20 21H15H20Z" stroke="#A2BDCA" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.5 24C13.8807 24 15 22.8807 15 21.5C15 20.1193 13.8807 19 12.5 19C11.1193 19 10 20.1193 10 21.5C10 22.8807 11.1193 24 12.5 24Z" stroke="#A2BDCA" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M22.5 24C23.8807 24 25 22.8807 25 21.5C25 20.1193 23.8807 19 22.5 19C21.1193 19 20 20.1193 20 21.5C20 22.8807 21.1193 24 22.5 24Z" stroke="#A2BDCA" stroke-linecap="round" stroke-linejoin="round"/>
                    <rect x="0.5" y="0.5" width="35" height="35" rx="17.5" stroke="#3E595C"/>
                  </svg>
                  | 5 хв
              a.project-website-button(href="https://gymmaxx.com/" target="_blank") сайт проєкту
            .swiper-slide
              .text-in-slide.text-in-slide-little-text Багатофункціональний проект бізнескласу
              .address-block
                .address-block__metro
                  //- <svg viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  //-   <path d="M15.6519 10.1729L15.3954 9.69377L15.0589 10.1206L13.5144 12.0796L11.9681 10.1204L11.6315 9.6939L11.3752 10.173L8.70091 15.173L8.42091 15.6965H9.01459H10.8383H11.0498L11.1508 15.5106L11.9231 14.089L13.249 15.5774L13.5146 15.8756L13.7802 15.5774L15.1061 14.089L15.8783 15.5106L15.9793 15.6965H16.1909H18.0146H18.6085L18.3282 15.1729L15.6519 10.1729Z" stroke="#A2BDCA" stroke-width="0.711458"/>
                  //-   <rect x="1.16406" y="0.355729" width="25.2885" height="25.2885" rx="12.6443" stroke="#3E595C" stroke-width="0.711458"/>
                  //- </svg>
                  
                .address-block__time
                  //- <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  //-   <p28.0007 17.612 27.9165 17.3816 27.7625 17.2002C27.6085 17.0187 27.3949 16.8981 27.16 16.86L22 16L19.3 12.4C19.2069 12.2759 19.0861 12.175 18.9472 12.1056C18.8084 12.0362 18.6552 12 18.5 12H11.24C10.8673 11.9975 10.5012 12.0991 10.1832 12.2934C9.86513 12.4878 9.60772 12.7672 9.44 13.1L8.64 14.73C8.22015 15.5646 8.00099 16.4858 8 17.42V21H10M20 21H15H20Z" stroke="#A2BDCA" stroke-linecap="round" stroke-linejoin="round"/>
                  //-   <path d="M12.5 24C13.8807 24 15 22.8807 15 21.5C15 20.1193 13.8807 19 12.5 19C11.1193 19 10 20.1193 10 21.5C10 22.8807 11.1193 24 12.5 24Z" stroke="#A2BDCA" stroke-linecap="round" stroke-linejoin="round"/>
                  //-   <path d="M22.5 24C23.8807 24 25 22.8807 25 21.5C25 20.1193 23.8807 19 22.5 19C21.1193 19 20 20.1193 20 21.5C20 22.8807 21.1193 24 22.5 24Z" stroke="#A2BDCA" stroke-linecap="round" stroke-linejoin="round"/>
                  //-   <rect x="0.5" y="0.5" width="35" height="35" rx="17.5" stroke="#3E595C"/>
                  //- </svg>

              a.project-website-button(href="https://lipkiisland.com/?utm_source=lun.ua&utm_medium=referral&utm_content=1116721600.1661250832&utm_term=6609" target="_blank") сайт проєкту
            .swiper-slide
              .text-in-slide Інноваційний дитячий садок
              .address-block
                .address-block__metro
                  <svg viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.6519 10.1729L15.3954 9.69377L15.0589 10.1206L13.5144 12.0796L11.9681 10.1204L11.6315 9.6939L11.3752 10.173L8.70091 15.173L8.42091 15.6965H9.01459H10.8383H11.0498L11.1508 15.5106L11.9231 14.089L13.249 15.5774L13.5146 15.8756L13.7802 15.5774L15.1061 14.089L15.8783 15.5106L15.9793 15.6965H16.1909H18.0146H18.6085L18.3282 15.1729L15.6519 10.1729Z" stroke="#A2BDCA" stroke-width="0.711458"/>
                    <rect x="1.16406" y="0.355729" width="25.2885" height="25.2885" rx="12.6443" stroke="#3E595C" stroke-width="0.711458"/>
                  </svg>
                  | Дружби народів
                .address-block__time
                  <svg viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25 21H28V17.85C28.0007 17.612 27.9165 17.3816 27.7625 17.2002C27.6085 17.0187 27.3949 16.8981 27.16 16.86L22 16L19.3 12.4C19.2069 12.2759 19.0861 12.175 18.9472 12.1056C18.8084 12.0362 18.6552 12 18.5 12H11.24C10.8673 11.9975 10.5012 12.0991 10.1832 12.2934C9.86513 12.4878 9.60772 12.7672 9.44 13.1L8.64 14.73C8.22015 15.5646 8.00099 16.4858 8 17.42V21H10M20 21H15H20Z" stroke="#A2BDCA" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.5 24C13.8807 24 15 22.8807 15 21.5C15 20.1193 13.8807 19 12.5 19C11.1193 19 10 20.1193 10 21.5C10 22.8807 11.1193 24 12.5 24Z" stroke="#A2BDCA" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M22.5 24C23.8807 24 25 22.8807 25 21.5C25 20.1193 23.8807 19 22.5 19C21.1193 19 20 20.1193 20 21.5C20 22.8807 21.1193 24 22.5 24Z" stroke="#A2BDCA" stroke-linecap="round" stroke-linejoin="round"/>
                    <rect x="0.5" y="0.5" width="35" height="35" rx="17.5" stroke="#3E595C"/>
                  </svg>
                  | 5 хв
              a.project-website-button(href="https://leapkids.com.ua/" target="_blank") сайт проєкту
              
            .swiper-slide
              .text-in-slide Спеціальні доріжки для транспорту малої мобільності
            .swiper-slide
              .text-in-slide Власний підземний дворівневий паркінг

      .our_projects__title-block
        h1.our_projects__page-title our projects
        .swiper_our_projects_title_text
          .swiper-wrapper
            .swiper-slide 
              .text-in-slide Бульвар Фонтанів
            .swiper-slide 
              .text-in-slide.text-in-slide-little Новопечерські Липки
            .swiper-slide 
              .text-in-slide Святобор Park Resort
            .swiper-slide 
              .text-in-slide GYMMAXX
            .swiper-slide 
              .text-in-slide Lipki Island City resort
            .swiper-slide 
                .text-in-slide Leap Kids
