section.services#services
    .main-deco
        img(src="./assets/images/feather.png", alt="")
    .services__title-block
        h1.services__page-title  location
        h2.services__second-title Інфраструктура
    .services-main.container 
        .services-filter 
            button.services-filter-btn 
                span Всі 
            button.services-filter-btn 
                span ШКОЛИ
            button.services-filter-btn 
                span ДИТЯЧІ САДОЧКИ
            button.services-filter-btn 
                span ДИТЯЧІ САДОЧКИ
        .services-list__wrap
            .services-list(data-current-page="1" aria-live="polite").pagination-list
                .services-card.pagination-card 
                    .services-card-img 
                        img(src="./assets/images/services/services.jpg" alt="")
                    .services-card-inner    
                        h1.services-card-title ФІТНЕС-КЛУБ GYMMAXX
                        .services-card-text 
                            .services-card-adress
                                +svg('pin')
                                span Драгомирова, 9 А
                            .services-card-phone 
                                +svg ('phone')
                                span 044 503 5503
                            .services-card-site 
                                +svg ('globe')
                                a(href="gymmaxx.com") gymmaxx.com
                .services-card 
                    .services-card-img 
                        img(src="./assets/images/services/services.jpg" alt="")
                    .services-card-inner    
                        h1.services-card-title ФІТНЕС-КЛУБ GYMMAXX
                        .services-card-text 
                            .services-card-adress
                                +svg('pin')
                                span Драгомирова, 9 А
                            .services-card-phone 
                                +svg ('phone')
                                span 044 503 5503
                            .services-card-site 
                                +svg ('globe')
                                a(href="gymmaxx.com") gymmaxx.com
                .services-card 
                    .services-card-img 
                        img(src="./assets/images/services/services.jpg" alt="")
                    .services-card-inner    
                        h1.services-card-title ФІТНЕС-КЛУБ GYMMAXX
                        .services-card-text 
                            .services-card-adress
                                +svg('pin')
                                span Драгомирова, 9 А
                            .services-card-phone 
                                +svg ('phone')
                                span 044 503 5503
                            .services-card-site 
                                +svg ('globe')
                                a(href="gymmaxx.com") gymmaxx.com
                .services-card 
                    .services-card-img 
                        img(src="./assets/images/services/services.jpg" alt="")
                    .services-card-inner    
                        h1.services-card-title ФІТНЕС-КЛУБ GYMMAXX
                        .services-card-text 
                            .services-card-adress
                                +svg('pin')
                                span Драгомирова, 9 А
                            .services-card-phone 
                                +svg ('phone')
                                span 044 503 5503
                            .services-card-site 
                                +svg ('globe')
                                a(href="gymmaxx.com") gymmaxx.com
                .services-card 
                    .services-card-img 
                        img(src="./assets/images/services/services.jpg" alt="")
                    .services-card-inner    
                        h1.services-card-title ФІТНЕС-КЛУБ GYMMAXX
                        .services-card-text 
                            .services-card-adress
                                +svg('pin')
                                span Драгомирова, 9 А
                            .services-card-phone 
                                +svg ('phone')
                                span 044 503 5503
                            .services-card-site 
                                +svg ('globe')
                                a(href="gymmaxx.com") gymmaxx.com
                .services-card 
                    .services-card-img 
                        img(src="./assets/images/services/services.jpg" alt="")
                    .services-card-inner    
                        h1.services-card-title ФІТНЕС-КЛУБ GYMMAXX
                        .services-card-text 
                            .services-card-adress
                                +svg('pin')
                                span Драгомирова, 9 А
                            .services-card-phone 
                                +svg ('phone')
                                span 044 503 5503
                            .services-card-site 
                                +svg ('globe')
                                a(href="gymmaxx.com") gymmaxx.com
                .services-card 
                    .services-card-img 
                        img(src="./assets/images/services/services.jpg" alt="")
                    .services-card-inner    
                        h1.services-card-title ФІТНЕС-КЛУБ GYMMAXX
                        .services-card-text 
                            .services-card-adress
                                +svg('pin')
                                span Драгомирова, 9 А
                            .services-card-phone 
                                +svg ('phone')
                                span 044 503 5503
                            .services-card-site 
                                +svg ('globe')
                                a(href="gymmaxx.com") gymmaxx.com
                .services-card 
                    .services-card-img 
                        img(src="./assets/images/services/services.jpg" alt="")
                    .services-card-inner    
                        h1.services-card-title ФІТНЕС-КЛУБ GYMMAXX
                        .services-card-text 
                            .services-card-adress
                                +svg('pin')
                                span Драгомирова, 9 А
                            .services-card-phone 
                                +svg ('phone')
                                span 044 503 5503
                            .services-card-site 
                                +svg ('globe')
                                a(href="gymmaxx.com") gymmaxx.com
                .services-card 
                    .services-card-img 
                        img(src="./assets/images/services/services.jpg" alt="")
                    .services-card-inner    
                        h1.services-card-title ФІТНЕС-КЛУБ GYMMAXX
                        .services-card-text 
                            .services-card-adress
                                +svg('pin')
                                span Драгомирова, 9 А
                            .services-card-phone 
                                +svg ('phone')
                                span 044 503 5503
                            .services-card-site 
                                +svg ('globe')
                                a(href="gymmaxx.com") gymmaxx.com
            nav.pagination-container
                button.pagination-button#prev-button(aria-label="Previous page" title="Previous page")
                    +svg('pagination-arrow')
                div#pagination-numbers
                button.pagination-button#next-button(aria-label="Next page" title="Next page")
                    +svg('pagination-arrow')
    
          
