section.services#services
    .main-deco  
        img(src="./assets/images/feather.png", alt="")
    .services__title-block
        h1.services__page-title  location
        h2.services__second-title Інфраструктура
    .services-main.container 
        .services-filter 
            button.services-filter-btn 
                span Всі 
            button.services-filter-btn 
                span ШКОЛИ
            button.services-filter-btn 
                span ДИТЯЧІ САДОЧКИ
        .services-list 
            .services-card 
                .services-card-img 
                    img(src="./assets/images/services/services.jpg", alt="")
                .services-card-inner    
                    h1.services-card-title ФІТНЕС-КЛУБ GYMMAXX
                    .services-card-text 
                        .services-card-adress
                            +svg('')
                            span Драгомирова, 9 А
                        .services-card-phone 
                            +svg('')
                            span 044 503 5503
                        .services-card-site 
                            +svg('')
                            a(href="") gymmaxx.com
            .services-card 
                .services-card-img 
                    img(src="./assets/images/services/services.jpg", alt="")
                h1.services-card-title ФІТНЕС-КЛУБ GYMMAXX
                .services-card-inner 
                    .services-card-adress
                        +svg('')
                        span Драгомирова, 9 А
                    .services-card-phone 
                        +svg('')
                        span 044 503 5503
                    .services-card-site 
                        +svg('')
                        a(href="") gymmaxx.com
            .services-card 
                .services-card-img 
                    img(src="./assets/images/services/services.jpg", alt="")
                h1.services-card-title ФІТНЕС-КЛУБ GYMMAXX
                .services-card-inner 
                    .services-card-adress
                        +svg('')
                        span Драгомирова, 9 А
                    .services-card-phone 
                        +svg('')
                        span 044 503 5503
                    .services-card-site 
                        +svg('')
                        a(href="") gymmaxx.com
            .services-card 
                .services-card-img 
                    img(src="./assets/images/services/services.jpg", alt="")
                h1.services-card-title ФІТНЕС-КЛУБ GYMMAXX
                .services-card-inner 
                    .services-card-adress
                        +svg('')
                        span Драгомирова, 9 А
                    .services-card-phone 
                        +svg('')
                        span 044 503 5503
                    .services-card-site 
                        +svg('')
                        a(href="") gymmaxx.com
            
                    
