-
    const data =[
        {
        id: "1",
        date: "19 серпня 2022",
        title: "Розпочато запис на бронювання квартир.",
        img: "./assets/images/gallery/4.jpg",
        dataArray: [
            {
            text: "Вже зовсім скоро інвестиційно-девелоперська компанія City One Development розпочне активне будівництво і продажі в першому на ринку столиці жк класу Бізнес + - The Light. Наші менеджери готові надати більше інформації про майбутній ЖК та записати потенційних покупців до листа бронювання квартир.  За детальною інформацією звертайтеся до відділу продажу за телефоном 044 500 00 01.",
            img: "./assets/images/gallery/4.jpg",
            },
                ]
        },
        {
        id: "2",
        date: "19 серпня 2022",
        title: "Комплекс The Light отримав дозвіл на будівництво.",
        img: "./assets/images/news/IMG_20220726_140542_615.jpg",
        dataArray: [
            {
            text: "Компанія-забудовник житлового комплексу класу бізнес + The Light отримала дозвіл на виконання будівельних робіт в м. Київ, вул. Маккейна Джона, 5.  Цей документ дозволяє приступати до будівництва та розпочинати продаж квартир і нежитлових приміщень. Наразі на земельній ділянці відбуваються підготовчі роботи. Девелопером проекту виступає столична інвестиційно-девелоперська компанія City One Development, в портфелі якої успішні столичні комплекси ЖК «Новопечерські Липки», ЖК «Бульвар Фонтанів», дитяча академія щастя Leap Kids.",
            img: "./assets/images/news/IMG_20220726_140542_615.jpg",
            },
                ],
        },
        {
        id: "2",
        date: "19 серпня 2022",
        title: "Комплекс The Light отримав дозвіл на будівництво.",
        img: "./assets/images/news/IMG_20220726_140542_615.jpg",
        dataArray: [
            {
            text: "Компанія-забудовник житлового комплексу класу бізнес + The Light отримала дозвіл на виконання будівельних робіт в м. Київ, вул. Маккейна Джона, 5.  Цей документ дозволяє приступати до будівництва та розпочинати продаж квартир і нежитлових приміщень. Наразі на земельній ділянці відбуваються підготовчі роботи. Девелопером проекту виступає столична інвестиційно-девелоперська компанія City One Development, в портфелі якої успішні столичні комплекси ЖК «Новопечерські Липки», ЖК «Бульвар Фонтанів», дитяча академія щастя Leap Kids.",
            img: "./assets/images/news/IMG_20220726_140542_615.jpg",
            },
                ],
        },
        


            ]

section.single-news#single-news-page
    .main-deco
        img(src="./assets/images/feather.png", alt="")
    .single-news-main-wrap
        .single-news-main
            .single-news-item 
                .single-news-date 
                    span.single-news-day 16 
                    span.single-news-month Серпень 
                    span.single-news-year 2022
                h1.single-news-title Старт продажів Житлового комплексу преміу мкласу the Light 
                p.single-news-subtitle Яким буде Київ через 10 років? За версією нашої компанії, він буде найкомфортнішим містом у світі. 
                p.single-news-description Саме такий BHAG ми собі поставили та до якого впевнено рухаємося з кожним новим проєктом. Про те, що вже зараз ми змінюємо обличчя Києва та створюємо проєкти майбутнього, говорить і редакція НВ. У новому номері вона разом з архітекторами, забудовниками та урбаністами склала рейтинг 10 знакових об’єктів столиці та включила до нього відразу два проєкти, які ми реалізуємо спільно з партнерами.
                .single-news-img 
                    img(src="./assets/images/single-news/news1.jpg", alt="")
                p.single-news-subtitle Новий Поділ НВ відзначив за наш підхід до будівництва кварталів, насичену інфраструктуру та головну родзинку району — набережну завдовжки 1 км.
                p.single-news-description Вона буде відкрита для всіх охочих і стане улюбленим місцем для відпочинку та прогулянок містян і мешканців району. Вона буде відкрита для всіх охочих і стане улюбленим місцем для відпочинку та прогулянок містян і мешканців району. Вона буде відкрита для всіх охочих і стане улюбленим місцем для відпочинку та прогулянок містян і мешканців району:
                ul.single-news-list
                    li.single-news-list-item /  «Гарна набережна, яка відкриється на Новому Подолі, стане окрасою Києва», — зазначає у статті НВ головний архітектор Архіматики Дмитро Васильєв.
                    li.single-news-list-item /  «Гарна набережна, яка відкриється на Новому Подолі, стане окрасою Києва», — зазначає у статті НВ головний архітектор Архіматики Дмитро Васильєв.
                    li.single-news-list-item /  «Гарна набережна, яка відкриється на Новому Подолі, стане окрасою Києва», — зазначає у статті НВ головний архітектор Архіматики Дмитро Васильєв.
                .single-news-btn 
                    a(href="#").single-news-btn-link Обрати квартиру
    .news__content-wrapper.single-news__news-content 
        h2.single-news__news-list-title Новини
        .news__content-list.single-news__news-list
            each item in data 
                +newsBlock(item)