.development-process {
  padding-top: 168px;

  @include tabletLarge {
    padding-top: 100px;
  }

  @include tablet {
    padding-top: 92px;
  }

  @include mobile {
    padding-top: 76px;
  }
  
    &__title-block {
      padding: 0 12px;
      margin-bottom: 40px;
      @include from(1280px) {
        margin-bottom: 50px;
      }
    }
    &__page-title {
      font-family: 'Palace Script MT';
      font-style: italic;
      font-weight: 400;
      font-size: 36px;
      line-height: 0.85;
      text-align: center;
      color: var(--light);
      // background: linear-gradient(235.14deg, #a2bdca 0%, #bcd6df 100.03%);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      // background-clip: text;
      // text-fill-color: transparent;
      @include from(768px) {
        font-size: 48px;
      }
      @include from(1920px) {
        font-size: 64px;
      }
    }
    &__second-title {
      font-weight: 400;
      font-size: 24px;
      line-height: 1.2;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: var(--white);
      @include from(768px) {
        font-size: 32px;
      }
      @include from(1920px) {
        font-size: 48px;
      }
    }

    &-main {
        padding: 0 360px 150px 360px;

        @include tabletLarge {
        padding: 0 70px 270px 70px;

        }

        @include tablet {
        padding:  0 20px 60px 20px;

        }
        @include mobile {

        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    &-item {
        position: relative;
        width: 100%;
        margin-bottom: 40px;

        @include tablet {
          margin-bottom: 20px;

        }

        @include mobile {
          margin-bottom: 30px;
        }

        &:last-child {
            margin-bottom: 0;
        }
        

    }

    &-item__title {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #A2BDCA;
        margin-bottom: 12px;

        @include mobile {
          font-size: 14px;
          margin-bottom: 8px;
        }

    }

    &-item__video {
        max-width: 100%;

        iframe {
            width: 100%;
            min-height: 676px;
        }

    }
}