.layout {
  width: 100vw;
  // height: 100vh;
  // height: calc(100vw / 0.6844);
  height: calc(100vw / 0.805);
  @include from(768px) {
    height: calc(100vw / 0.805);
  }
  @include from(1280px) {
    height: calc(100vw / 1.7454545);
  }
  &__wrapper-content {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

    svg {
      width: 100%;
      height: 100%;
    }

    image {
      width: 100%;
      height: 100%;
      // height: calc(100vw / 0.6844);
      // @include from(768px) {
      //   height: calc(100vw / 0.8);
      // }
      // @include from(1280px) {
      //   height: calc(100vw / 1.7454545);
      // }
    }

    & svg path {
      cursor: pointer;
      stroke-width: 3;
      stroke: var(--white);
      opacity: 0.5;
      fill: var(--light);
      fill-opacity: 0.2;

      &.hover {
        fill-opacity: 1;
      }

      @include to(1279px) {
        fill-opacity: 0.5;
      }
    }
  }

  #layout_svg-mobile {
    @include from(1280px) {
      display: none;
    }
  }
  #layout_svg-desctop {
    @include to(1279px) {
      display: none;
    }
  }
  &__circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 40px;
    height: 40px;
    background: var(--black);
    border-radius: 130px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-transform: uppercase;
    pointer-events: none;
    @include from(768px) {
      width: 48px;
      height: 48px;
      font-size: 24px;
    }
    @include from(1280px) {
      // &:hover .layout__content {
      //   display: flex;
      // }
    }
    @include from(1920px) {
      width: 68px;
      height: 68px;
      font-size: 32px;
    }
  }
  &__circle-5 {
    left: 51.44%;
    right: 39.44%;
    top: 48.48%;
    bottom: 43.92%;
    @include from(768px) {
      left: 50.45%;
      right: 43.32%;
      top: 49.79%;
      bottom: 45.18%;
    }
    @include from(1280px) {
      left: 32.87%;
      right: 63.62%;
      top: 53.6%;
      bottom: 44%;
    }
    @include from(1920px) {
      left: 32.92%;
      right: 63.54%;
      top: 53.36%;
      bottom: 40.45%;
    }
  }

  &__circle-6 {
    left: 77.78%;
    right: 6.11%;
    top: 38.64%;
    bottom: 54.75%;
    @include from(768px) {
      left: 78.73%;
      right: 15.05%;
      top: 38.89%;
      bottom: 56.08%;
    }
    @include from(1280px) {
      left: 47.8%;
      right: 48.68%;
      top: 41.53%;
      bottom: 57.07%;
    }
    @include from(1920px) {
      left: 47.81%;
      right: 48.65%;
      top: 40.82%;
      bottom: 53%;
    }
  }

  &__circle-7 {
    left: 16.22%;
    right: 76.67%;
    top: 36.5%;
    bottom: 55.89%;
    @include from(768px) {
      left: 18.81%;
      right: 74.97%;
      top: 37.84%;
      bottom: 57.13%;
    }
    @include from(1280px) {
      left: 16.11%;
      right: 80.38%;
      top: 39.07%;
      bottom: 58.53%;
    }
    @include from(1920px) {
      left: 16.09%;
      right: 80.36%;
      top: 39.45%;
      bottom: 54.36%;
    }
  }

  &__circle-8 {
    left: 56.78%;
    right: 31.11%;
    top: 21.43%;
    bottom: 69.96%;

    @include from(768px) {
      left: 57.72%;
      right: 36.06%;
      top: 23.69%;
      bottom: 71.28%;
    }
    @include from(1280px) {
      left: 36.75%;
      right: 59.74%;
      top: 23.4%;
      bottom: 75.2%;
    }
    @include from(1920px) {
      left: 36.77%;
      right: 59.69%;
      top: 23.45%;
      bottom: 70.36%;
    }
  }
  &__content.layout__content-show {
    @include from(1280px) {
      display: flex;
    }
  }
  &__content {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    position: absolute;
    width: max-content;
    left: 120%;
    top: -77%;
    background: var(--blue);
    @include from(1920px) {
      left: 112%;
      top: -70%;
    }
    &::before {
      position: absolute;
      top: 45%;
      left: -11px;
      content: '';
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 12px solid var(--blue);
      border-bottom: 10px solid transparent;
    }
    & span {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.4;
      @include from(1920px) {
        font-size: 18px;
      }
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
    & > span {
      font-size: 20px;
      @include from(1920px) {
        font-size: 24px;
      }
    }
  }

  &__title-block {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 8px;
    width: 220px;
    height: 68px;
    background: var(--blue-layout);
    @include from(768px) {
      padding: 0;
      width: 270px;
      height: 120px;
    }
    @include from(1280px) {
      width: 342px;
    }
    @include from(1920px) {
      width: 400px;
      height: 200px;
    }
    &-title {
      color: var(--black);
    }
  }
}
// -------------------------------------
.layout-beckdrop {
  // overflow: hidden;
  .page-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 0;
    color: var(--black);
    @include from(768px) {
      display: flex;
      flex-direction: row-reverse;
    }

    .layout__title-block {
      @include to(767px) {
        width: 100%;
      }
    }
  }
  .layout__swiper-wrapper {
    width: 100%;
    height: 490px;
    @include from(768px) {
      width: 498px;
      height: auto;
      flex-grow: 1;
    }
    @include from(1280px) {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      width: 546px;
      height: 100%;
      // margin: 50px 70px;
    }
    @include from(1920px) {
      width: 960px;
    }
  }
  .layout__swiper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      cursor: pointer;
      @include from(1280px) {
        object-fit: contain;
      }
    }
    .swiper-wrapper {
      height: 320px;
      @include from(768px) {
        height: auto;
      }
      @include from(1280px) {
        height: 100%;
      }
    }
    .layout__wrapper-btn-swiper {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 10;
      justify-content: center;
    }
  }

  .page-container {
    position: relative;
    background: var(--white);
  }
}
.layout__data-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 40px;
  background: var(--black);
  color: var(--white);
  border-radius: 30px;
  border: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  &:hover {
    background: var(--blue);
  }
  @include to(767px) {
    position: absolute;
    bottom: 20px;
    left: calc((100% - 220px) / 2);
  }
  @include from(1920px) {
    width: 232px;
    height: 50px;
  }

  & svg {
    width: 12px;
    height: 12px;
    margin-right: 20px;
    stroke: var(--white);
  }
}
.layout__data-title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  @include from(768px) {
    font-size: 20px;
  }
  @include from(1920px) {
    font-size: 24px;
  }
}
.layout__data-number {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  @include from(768px) {
    font-size: 32px;
  }
  @include from(1920px) {
    font-size: 48px;
  }
}
.layout__data-wrapper {
  display: flex;
  @include to(767px) {
    margin-top: 20px;
    padding-bottom: 60px;
  }

  @include from(768px) {
    width: 270px;
    padding-top: 120px;
    padding-bottom: 120px;
    flex-direction: column;
  }
  @include from(1280px) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @include from(1920px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.layout__data-item-left,
.layout__data-item-right {
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include from(768px) {
    height: 138px;
  }
  @include from(1280px) {
    height: 170px;
  }
  @include from(1920px) {
    height: 234px;
  }
}
.wrapper-floor-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  min-width: 160px;
  height: 53px;
  border: 1px solid var(--light);
  border-radius: 100px;
  @include from(768px) {
    min-width: 250px;
    height: 70px;
  }

  @include from(1920px) {
    height: 90px;
  }

  .floor-btn-left.active-floor-btn,
  .floor-btn-right.active-floor-btn {
    background: var(--blue);
    border: 1.5px solid var(--black);
  }
  // .floor-btn-left {
  //   // margin-right: 8px;
  // }
  .floor-btn-left,
  .floor-btn-right {
    min-width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    // width: 61px;
    // height: 45px;
    background: var(--white);
    border: 1.5px solid var(--white);
    border-radius: 100px;
    cursor: pointer;
    &:hover {
      background: var(--blue);
      border: 1.5px solid var(--black);
    }
  }
}
.layout__data-list-right {
  width: 50%;
  @include from(768px) {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  @include from(1280px) {
    width: 342px;
    height: 100%;
    display: block;
  }
  @include from(1920px) {
    width: 480px;
  }
}
.layout__data-list-left {
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
  @include from(768px) {
    width: 100%;
  }
  @include from(1280px) {
    width: 342px;
    height: 100%;
    display: block;
  }
  @include from(1920px) {
    width: 480px;
  }
}
.layout__data-item-left {
  @include to(767px) {
    border-top: 1px solid var(--light);
    &:not(:first-child) {
      border-right: 1px solid var(--light);
    }
  }
  @include from(768px) {
    &:first-child {
      order: 1;
    }
  }
}
.layout__data-item-right {
  @include to(767px) {
    border-top: 1px solid var(--light);
  }
  @include from-to(768px, 1279px) {
    &:nth-child(2) {
      order: 1;
    }
  }
}
.layout__data-apartments {
  @include to(767px) {
    position: absolute;
    left: calc((100% - 220px) / 2);
  }
}
.layout__btn-swiper-left {
  @include from(1280px) {
    position: fixed;
    top: 46%;
    left: -14%;
  }
  @include from(1920px) {
    left: -9%;
  }
}
.layout__btn-swiper-right {
  @include from(1280px) {
    position: fixed;
    top: 46%;
    right: -14%;
  }
  @include from(1920px) {
    right: -9%;
  }
}

.layout-img-wrapper {
  width: 100vw;
  height: 100vh;
  background: var(--white);

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  & .header__btn-close-menu {
    position: absolute;
    top: 12px;
    right: 12px;
    // border: 1px solid var(--light);
    background: var(--black);
    &:hover {
      background: var(--blue);
    }
    @include from(768px) {
      top: 24px;
      right: 24px;
    }

    svg path {
      stroke: var(--white);
    }
  }
}
