.news {
  width: 100%;
  padding-top: 168px;
  padding-left: 130px;
  padding-right: 130px;

  @include tabletLarge {
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @include tablet {
    padding-top: 92px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mobile {
    padding-top: 76px;
    padding-left: 12px;
    padding-right: 12px;
  }

  // &__content-wrapper {
  //   padding: 0 130px;

  // }

  &__title-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    @include from(768px) {
      margin-bottom: 32px;
      padding-bottom: 32px;
      // border-bottom: 1px solid var(--dark);
    }

    &.news-page__title-block {
      border-bottom: 1px solid transparent;
    }

    &-title {
      font-family: 'Palace Script MT';
      font-style: italic;
      font-weight: 400;
      font-size: 36px;
      line-height: 0.85;
      text-align: center;
      color: var(--light);
      // background: linear-gradient(235.14deg, #a2bdca 0%, #bcd6df 100.03%);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      // background-clip: text;
      // text-fill-color: transparent;
      @include from(768px) {
        font-size: 48px;
      }
      @include from(1920px) {
        font-size: 64px;
      }
    }
    &-second-title {
      font-weight: 400;
      font-size: 32px;
      line-height: 1.2;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: var(--white);
      @include from(1920px) {
        font-size: 48px;
      }
    }

    .btn-swiper {
      margin: 0;
      background: var(--white);

      rect {
        fill: var(--white);
      }
      path {
        stroke: var(--black);
      }
      @media (min-width: 1024px) {
        &:hover {
          background: var(--blue);
          rect {
            fill: var(--blue);
          }
          path {
            stroke: var(--white);
          }
        }
      }
    }

    &-btn-left {
      position: absolute;
      left: 0;
      bottom: 0;
      // @include from(768px) {
      //   display: none;
      // }
    }
    &-btn-right {
      position: absolute;
      right: 0;
      bottom: 0;
      transform: rotate(180deg);
      // @include from(768px) {
      //   display: none;
      // }
    }
  }

  &__content {
    &-item {
      cursor: pointer;
      transition: all ease-in-out 0.3s;
      &:hover {
        @include from(1366px) {
          .news__content-item-img-wrapper {
            clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
            transition: all 1s var(--cubic);
          }
        }
      }

      @include from(1366px) {
        .news__content-item-img-wrapper {
          clip-path: polygon(0 40%, 100% 40%, 100% 100%, 0% 100%);
          transition: all 2.5s var(--cubic);
        }

        // &.news__content-item-mouseover {
        //   .news__content-item-img-wrapper {
        //     clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
        //     transition: all 1s var(--cubic);
        //   }
        // }
        // &.news__content-item-mouseout {
        //   .news__content-item-img-wrapper {
        //     clip-path: polygon(0 20%, 100% 20%, 100% 100%, 0% 100%);
        //     transition: all 1.5s var(--cubic);
        //   }
        // }
      }

      &:hover .news__content-item-btn {
        border: 1px solid var(--light);
        background: var(--light);
        transition: all 1s var(--cubic);
        path {
          stroke: var(--black);
          transition: all 1s var(--cubic);
        }
      }
    }

    &-wrapper {
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
      @include from(1280px) {
        margin-bottom: 32px;
      }
      @include from(1920px) {
        margin-bottom: 40px;
      }
    }
    &-item-btn {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid var(--light);
      background: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 1s var(--cubic);
      @include from(768px) {
        width: 44px;
        height: 44px;
      }
      path {
        stroke: var(--light);
        transition: all 1s var(--cubic);
      }
    }

    &-list {
      border-top: 1px solid var(--dark);
      padding-top: 32px;
      @include from(1280px) {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }

    &-item-wrapper {
      margin-bottom: 20px;
      @include from(768px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0;
        // width: calc((100% - 40px) / 2);
      }
      @include from(1366px) {
        width: 100%;
        margin-bottom: 42px;
      }
      @include from(1920px) {
        margin-bottom: 80px;
      }
    }

    &-item {
      @include to(767px) {
        display: none;
        &:first-child {
          display: block;
        }
        &.active-news {
          display: block;
        }
      }
      @include from-to(768px, 1279px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &:not(:last-child) {
          // margin-bottom: 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid var(--dark);
        }
        &:not(:first-child) {
          padding-top: 20px;
        }
      }
      @include from(1280px) {
        width: calc(100% / 3);
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        &:not(:last-child) {
          padding-right: 20px;
          // margin-right: 20px;
          border-right: 1px solid var(--dark);
        }

        &:nth-child(3n) {
          border-right: none;
          padding-right: 0;
        }

        &:not(:first-child) {
          padding-left: 20px;
        }
      }
      @include from(1920px) {
        width: calc(100% / 3);
        padding-bottom: 32px;
        padding-top: 32px;
        // border-top: 1px solid var(--dark);
        &:not(:last-child) {
          padding-right: 32px;
          // margin-right: 32px;
        }

        &:nth-child(3n) {
          border-right: none;
          padding-right: 0;
        }

        &:not(:first-child) {
          padding-left: 32px;
        }
      }
    }

    &-item-date {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.4;
      color: var(--light);
      @include from(768px) {
        font-size: 16px;
      }
      @include from(1920px) {
        font-size: 18px;
      }
    }
    &-item-text {
      font-weight: 400;
      font-size: 20px;
      line-height: 1.4;
      text-transform: uppercase;
      color: var(--light);
      @include from(768px) {
        font-size: 24px;
      }
      @include from(1920px) {
        font-size: 32px;
      }
    }

    &-item-img-wrapper {
      width: 100%;
      height: 200px;
      @include from(768px) {
        // width: calc((100% - 40px) / 2);
        height: 250px;
      }
      @include from(1280px) {
        width: 100%;
        height: 240px;
      }
      @include from(1920px) {
        width: 100%;
        height: 270px;
      }
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

#single-news-page {
  .news__content-item {
    // padding-right: 0;
    // border-right: none;
    transition: all ease-in-out 0.3s;
    &:hover {
      .news__content-item-img-wrapper {
        clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
        transition: all 1s var(--cubic);
      }
    }
  }

  // .news__content-item-wrapper {
  //   padding-right: 32px;
  //   border-right: 1px solid var(--dark);

  //  }

  // .news__content-item-img-wrapper {
  //   padding-right: 32px;
  //   border-right: 1px solid var(--dark);
  // }
}

#news-page {
  .news__content-item {
    transition: all ease-in-out 0.3s;
    &:hover {
      .news__content-item-img-wrapper {
        clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
        transition: all 1s var(--cubic);
      }
    }
  }

  // .news__content-wrapper {
  //   padding: 0 160px;

  //   @include tabletLarge {
  //     padding: 0 80px;
  //   }

  //   @include tablet {
  //     padding: 0 20px;
  //   }

  //   @include mobile {
  //     padding: 0;
  //   }
  // }

  .news__content-list {
    border-top: none;
    padding: 0;
  }

  .news__title-block-btn-left {
    display: none;
  }

  .news__title-block-btn-right {
    display: none;
  }

  .news__content-list {
    margin-left: -50px;
    margin-right: -50px;
    border-top: 1px solid #323235;

    @include tablet {
      margin-left: 0;
      margin-right: 0;
      border-top: none;
    }
  }

  .news__content-item {
    padding: 32px;
    border-right: none;
    border-bottom: 1px solid #323235;
    border-right: 1px solid #323235;

    @include tablet {
      width: 100%;
      border-top: none;
      padding: 0;
      border-right: none;
      border-bottom: none;
    }

    @include mobile {
      display: block;
    }

    &:nth-child(3n) {
      border-right: none;
    }
    // &:nth-last-child(-n + 3) {
    //   border-bottom: none;

    //   @include tablet {
    //     border-bottom: 1px solid #323235;
    //   }
    // }

    // &:last-child {
    //   border-right: none;
    // }
  }

  .news__content-item-inner {
    padding: 0 32px;

    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tabletLarge {
      height: 460px;
      padding: 0 20px;
    }
    @include tablet {
      height: 290px;
      flex-direction: row;
      border-right: none;
      border-top: 1px solid #323235;
      padding: 20px 0;
      width: 100%;
    }
    @include mobile {
      height: auto;
      flex-direction: column;
    }

    &:first-child {
      padding-left: 0;
    }
  }
}

.news__content-list {
  overflow: hidden;
  .swiper-slide {
    width: 100%;
    height: max(400px, 26vw);

    .news__content-item {
      width: 100%;
      height: 100%;
    }
    .news__content-item-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.swiper-button-disabled {
  opacity: 0.2;
  @media (min-width: 1024px) {
    &:hover {
      .btn-swiper {
        background: var(--white);
        path {
          stroke: black;
        }
      }
    }
  }
}
