.services {
    padding-top: 168px;

    @include tabletLarge {
      padding-top: 100px;
    }

    @include tablet {
      padding-top: 92px;
    }

    @include mobile {
      padding-top: 76px;
    }


    &__title-block {
      padding: 0 12px;
      margin-bottom: 40px;

      @include tabletLarge {
        margin-bottom: 40px;
      }

      @include tablet {
        margin-bottom: 20px;
      }

      @include mobile {
        margin-bottom: 30px;
      }
  
    }

    &__page-title {
      font-family: 'Palace Script MT';
      font-style: italic;
      font-weight: 400;
      font-size: 36px;
      line-height: 0.85;
      text-align: center;
      color: var(--light);
      // background: linear-gradient(235.14deg, #a2bdca 0%, #bcd6df 100.03%);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      // background-clip: text;
      // text-fill-color: transparent;
      @include from(768px) {
        font-size: 48px;
      }
      @include from(1920px) {
        font-size: 64px;
      }
    }
    &__second-title {
      font-weight: 400;
      font-size: 24px;
      line-height: 1.2;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: var(--white);
      @include from(768px) {
        font-size: 32px;
      }
      @include from(1920px) {
        font-size: 48px;
      }
    }

    &-main {
        padding-bottom: 150px;
        display: flex;
        justify-content: space-between;

        @include tabletLarge {
          padding-bottom: 80px;
        }

        @include tablet {
          padding-bottom: 60px;
        }

        @include mobile {
          flex-direction: column;
        }


    }

    &-filter {
        display: flex;
        flex-direction: column;
        padding: 24px;
        background: #0E0F10;
        border: 1px solid rgba(89, 118, 122, 0.5);
        width: 23%;
        height: fit-content;
        
        @include tablet {
          width: 32.41%;
        }

        @include mobile {
          display: none
        }

    }

    &-filter-mobile {
      display: none;

      @include mobile {
        display: flex;
        width: 100%;
        margin-bottom: 12px;
      }

    }


    &-filter-btn {
        text-decoration: none;
        border: none;
        background: transparent;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        color: #A2BDCA;
        margin-bottom: 18px;

        @include tabletLarge {
          font-size: 16px;
          margin-bottom: 12px;
        }

        &:last-child {
            margin-bottom: 0;
        }

    }

    &-list__wrap {
      display: flex;
      flex-direction: column;
      width: 74.6%;

      @include tablet {
        width: 65.9%;
      }

      @include mobile {
        width: 100%;
      }

    }

    &-list  {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        

    }

    &-card {
        width: 32.15%;
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(89, 118, 122, 0.5);
        background: rgba(62, 89, 92, 0.2);
        margin-bottom: 24px;
        height: 461px;

        @include tabletLarge {
          height: 452px;
        }

        @include tablet {
          width: 48.75%;
          margin-bottom: 12px;
          height: 440px;

        }

        @include mobile {
          width: 100%;
          height: 340px;
        }

        // &:nth-last-child(-n+3) {
        //   margin-bottom: 0;
        // }

    }

    &-card-img {
        height: 250px;

        @include mobile {
          height: 170px;
        }
         img {
            height: 250px;
            object-fit: cover;

            @include mobile {
              height: 170px;
            }
         }

    }

    &-card-title {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 140%;
      color: #E9F6FB;

      @include tabletLarge {
        font-size: 16px;
      }

      @include mobile {
        font-size: 14px;
      }

    }

    &-card-inner {
        padding: 24px;

        @include mobile {
          padding: 12px;
        }

    }

    &-card-text {
      margin-top: 80px;

      @include tabletLarge {
        margin-top: 60px;
      }

      @include tablet {
        margin-top: 40px;
      }

    }

    &-card-adress {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 4px;

      svg {
        width: 16px;
        height: 16px;
        margin-right: 16px;
      }


      span {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        background: linear-gradient(235.14deg, #A2BDCA 0%, #BCD6DF 100.03%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }

    }

    &-card-phone {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 4px;


      svg {
        width: 16px;
        height: 16px;
        margin-right: 16px;
      }

      span {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        background: linear-gradient(235.14deg, #A2BDCA 0%, #BCD6DF 100.03%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }

    }

    &-card-site {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      svg {
        width: 16px;
        height: 16px;
        margin-right: 16px;
      }


      a {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        background: linear-gradient(235.14deg, #A2BDCA 0%, #BCD6DF 100.03%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }

    }


}

.hidden {
  display: none;
}

.pagination-container {
  margin-top: 80px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;

  @include tablet {
    margin-top: 60px;
  }
}

.pagination-number,
.pagination-button{
  background-color: transparent;
  border: none;
  width: 64px;
  height: 64px;
  background: #E9F6FB;
  border-radius: 70px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 140%;
  text-transform: uppercase;
  color: #59767A;

  @include tabletLarge {
    width: 50px;
    height: 50px;
    font-size: 24px;
  }

}

#pagination-numbers .pagination-number {
  background: none;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  color: #E9F6FB;
}

.pagination-number.active {
  color: #E9F6FB;
  background: none;
}

#prev-button {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 20px;
    height: 20px;

    @include tabletLarge {
      width: 12px;
      height: 12px;
    }
  }
}

.pagination-button {

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 20px;
    height: 20px;

    @include tabletLarge {
      width: 12px;
      height: 12px;
    }
  }

}

#next-button {
  svg {
    transform: rotate(180deg);
  }
}