.single-news {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &-main-wrap {
    padding: 168px 360px 150px 360px;

    @include tabletLarge {
      padding: 120px 134px 80px 134px;
    }

    @include mobile {
      padding: 80px 16px 50px 16px;
    }
  }

  &-main {
    background: rgba(14, 15, 16, 0.1);
    border: 1px solid #323235;
    backdrop-filter: blur(5px);
  }

  &-item {
    padding: 40px;

    @include tabletLarge {
      padding: 32px;
    }
  }

  &-date {
    margin-bottom: 40px;

    @include tabletLarge {
      margin-bottom: 32px;
    }

    span {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #a2bdca;

      @include tabletLarge {
        font-size: 16px;
      }
    }
  }

  &-title {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #e9f6fb;
    margin-bottom: 40px;

    @include tabletLarge {
      margin-bottom: 32px;
      font-size: 32px;
    }
  }

  &-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    color: #a2bdca;
    margin-bottom: 16px;

    @include tabletLarge {
      font-size: 20px;
    }
  }

  &-description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #a2bdca;

    @include tabletLarge {
      font-size: 16px;
    }
  }

  &-img {
    margin-top: 40px;
    margin-bottom: 40px;

    @include tabletLarge {
      margin-top: 32px;
      margin-bottom: 32px;
    }

    img {
      width: 100%;
    }
  }

  &-list {
    margin-top: 16px;
  }

  &-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #a2bdca;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-btn {
    margin-top: 40px;
    width: 225px;
    height: 50px;
    background: #e9f6fb;
    border-radius: 30px;

    @include tabletLarge {
      width: 204px;
      height: 46px;
    }
  }

  &-btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0e0f10;
  }

  &__news-content {
    padding: 0 130px 150px 130px;

    @include tabletLarge {
      padding: 0 50px 80px 50px;
    }
    @include mobile {
      padding: 0 16px 50px 16px;
    }
  }

  &__news-list-title {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #e9f6fb;
    margin-bottom: 32px;

    @include tabletLarge {
      font-size: 32px;
    }
  }

  &__news-list {
    border-top: 1px solid #323235;
    padding-top: 32px;
  }
}
