.pop-up-thanks
  .pop-up-thanks__text-wrap
    h1.pop-up-thanks__title
      | Повідомлення успішно надіслано
    .pop-up-thanks__text 
      span Дякуємо за звернення! Чекайте дзвінка від наших менеджерів.
      span Бажаємо приємного дня та гарного настрою!
    button.pop-up-thanks__btn-close.js-pop-up-close.feedback-form__btn
      | Закрити
    button.btn-feedback-form-close.js-pop-up-close(type="button")
      <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 13L13 1M1 1L13 13"  stroke-width="2"/>
      </svg>