
extends ../layout/main
block variable
   
block meta
  title= 'THELIGHT'
  meta(name='description', content='')

block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
    <link href="http://fonts.cdnfonts.com/css/palace-script-mt" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/century-gothic" rel="stylesheet">
                
   
                
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/home.js')

block header
  .mask 
    .loader-block
      img.header__logo-img.loader-block__logo-img(src="./assets/images/header/logo-header.svg")
      .loader
  include ../includes/header.pug

block content
  include ../includes/hero.pug
  include ../includes/about.pug
  include ../includes/benefits.pug
  include ../includes/numbers.pug
  include ../includes/parallax-logo.pug
  include ../includes/layout.pug
  include ../includes/location.pug
  include ../includes/gallery.pug
  include ../includes/developer.pug
  include ../includes/our_projects.pug
  include ../includes/news.pug
  include ../includes/documents.pug
  include ../includes/contacts.pug
  
block footer
  include ../includes/footer.pug
