@font-face {
  font-family: 'Palace Script MT';
  src: url('PalaceScriptMT.eot');
  src: local('Palace Script MT'), local('PalaceScriptMT'),
    url('../fonts/PalaceScriptMT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PalaceScriptMT.woff2') format('woff2'),
    url('../fonts/PalaceScriptMT.woff') format('woff'),
    url('../fonts/PalaceScriptMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('CenturyGothic.eot');
  src: local('Century Gothic'), local('CenturyGothic'),
    url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturyGothic.woff2') format('woff2'),
    url('../fonts/CenturyGothic.woff') format('woff'),
    url('../fonts/CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('CenturyGothic-Bold.eot');
  src: local('Century Gothic Bold'), local('CenturyGothic-Bold'),
    url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturyGothic-Bold.woff2') format('woff2'),
    url('../fonts/CenturyGothic-Bold.woff') format('woff'),
    url('../fonts/CenturyGothic-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// @font-face {
//   font-family: 'Mont';
//   src: url('../fonts/Mont/Mont-Regular.eot');
//   src: local('Mont Regular'), local('Mont-Regular'),
//     url('../fonts/Mont/Mont-Regular.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/Mont/Mont-Regular.woff2') format('woff2'),
//     url('../fonts/Mont/Mont-Regular.woff') format('woff'),
//     url('../fonts/Mont/Mont-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Mont';
//   src: url('../fonts/Mont/Mont-Light.eot');
//   src: local('Mont Light'), local('Mont-Light'),
//     url('../fonts/Mont/Mont-Light.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/Mont/Mont-Light.woff2') format('woff2'),
//     url('../fonts/Mont/Mont-Light.woff') format('woff'),
//     url('../fonts/Mont/Mont-Light.ttf') format('truetype');
//   font-weight: 300;
//   font-style: normal;
// }
