@mixin font-face($font-family, $url, $weight: normal, $style: normal, $asset-pipeline: false) {
  @font-face {
    font-family: '#{$font-family}';
    font-weight: #{$weight};
    font-style: '#{$style}';

    src: url('#{$url}.eot');
    src: url('#{$url}.eot?#iefix') format('embedded-opentype'), url('#{$url}.woff') format('woff'),
      url('#{$url}.ttf') format('truetype');
  }
}

@mixin text-btn {
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@mixin text-style-h-1 {
  font-size: 64px;
  font-family: 'Mont', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-decoration: none;
}

$xs: 767px;
$sm: 1366px;
$md: 1919px;

@mixin media($size) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin mobile {
  @include media($xs) {
    @content;
  }
}

@mixin tablet {
  @include media($sm) {
    @content;
  }
}

@mixin tabletLarge {
  @include media($md) {
    @content;
  }
}