$default-font: 'Century Gothic', sans-serif;

$mc1: #283013;
$mc2: #8cb90c;
$textGrey: #676863;
$textLight: #9a9f8c;
$wc: #fff;
$bc: #000;
$bc2: #0e0e0e;
$bTitle: #181818;
$adCol: #cecece;
$lightGrey: #e0e0e0;
$grey: #363636;
$grey2: #676863;
$greyBg: #f0f0f0;


$mc: #1a2941;
$bg: #fafafa;
$light: #fcfcfc;
$dark: #1a2941;

:root {
  /* Color styles */
  --white: #e9f6fb;
  --black: #0e0f10;
  --blue-header: #5cb5e0cc;
  --blue-layout: #5cb5e0e6;
  --blue: #5cb5e0;
  --light: #a2bdca;
  --dark: #323235;

  // --------------------------------
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);

  /* Text-size styles */
}
