section.pop-up-news
  .pop-up-news__content-block
  <button class="header__btn-close-menu js-close-pop-up-news" type="button">
    <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 13L13 1M1 1L13 13" stroke-width="2"></path>
    </svg>
  </button>